body {
  background-color: #72777f;
  background-repeat: no-repeat;
  background-size:100%;
}

#main {
  font-family: 'Russo One', sans-serif;
  color: #ebeef4;
}

.jumbotron {
	position: absolute;
	left: 5%;
	top: 150px;
	width: 90%;
   background: rgba(212, 212, 214, 0.75);
}